@import "tailwindcss";

:root {
  font-family: 'Outfit', system-ui, sans-serif;
  /* Cambio de fuente */
  line-height: 1.6;
  font-weight: 400;
  color-scheme: dark;
}

/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  /*font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;*/
  /*-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #0E0E12;
  color: #E5E5E5;*/
  background: radial-gradient(circle at 50% 0%, #1a1c29 0%, #0E0E12 100%);
  color: #E5E5E5;
  overflow-x: hidden;
  /* Evita scroll horizontal indeseado */
}

/* Scrollbar personalizada para que combine */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0E0E12;
}

::-webkit-scrollbar-thumb {
  background: #2d2f3d;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #B7A8FF;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 1s ease-in forwards;
}